html, body {
    background: white;
    color: black;
    font-weight: bold;
}

.content {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.content li {
    margin-bottom: 10px;
}